body {
  height: 100vh;
  background-color: gainsboro;
  overflow: hidden;
}
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.su-container,
.si-container {
  width: 40vw;
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin: 1%;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
form {
  width: 100%;
}
form > div{
  margin: 5% 0;
}
form > div> label {
  margin-right: 5%;
}
.msg {
  margin-top: 3%;
}
